<mat-card class="mat-card-info">
    <mat-card-header>
        <mat-card-title>{{ today | date:'dd/MM/yyyy'}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list #producer [multiple]="false">

            <mat-list-option  *ngFor="let producer of producers" [value]="producer.id" (click)="updateDialog(producer)">
                <img matListAvatar src="../../../assets/b3.png" alt="">
                <h3 matLine> {{ producer.time }} </h3>
                <p matLine>
                    <span> {{ producer.capacity }}{{ producer.unit }} </span>
                </p>
                <mat-divider [inset]="true"></mat-divider>
            </mat-list-option>

        </mat-selection-list>
    </mat-card-content>
    <mat-card-actions>
        <div class="flex-container row-reverse">
            <button mat-button color="primary" (click)="openDialog()"> Bình mới </button>
        </div>
    </mat-card-actions>
</mat-card>
