/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
    background: #fff;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.row-reverse    {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.mat-card-info {
    margin: 15px;
}

.bottle-icon {
    max-width: 35px;
}